body {
    background: var(--bg-main);

    width: 100vh;
    height: calc(100vh + 100px);

    margin: 0 auto;
    
    color: var(--text-color);

    font-family: 'Noto Sans', sans-serif;
}

.nav {

    margin-top: 30px;
    padding: 12px 12px;

    background-color: var(--navbar-bg);

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 15px;
}

.btn-theme {
    width: 45px;
    height: 45px;

    border-radius: 10px;
    border: 1px solid var(--card-border);

    background-color: var(--card-bg);

    cursor: pointer;
}

.btn-theme:hover {
  background-color: var(--bg-btn-theme-hover);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 30px;
}

.btn-status {
    display: flex;
    gap: 10px;
}

.btn-status button {
    padding: 8px 15px;

    border-radius: 20px;
    border: 1px solid var(--card-border);
    font-size: 16px;

    background-color: var(--bg-btn-status);
    color: var(--text-color);

    cursor: pointer;
}

.btn-status button:hover {
  background-color: var(--bg-btn-hover);
  color: var(--text-color-sub);
}

button:focus {
  outline: 3px solid var(--red-700);
  outline-offset: 2px;
}

.card-extension {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: var(--card-bg);

    border: 1px solid var(--card-border);
    border-radius: 15px;

    color: var(--text-color);

    padding: 8px 15px;
}

.card-infor {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.card-infor img {
    margin: 0;
}

.card-infor .information h3 {
    margin: 0;
}

.card-infor .information p{
    font-size: 13px;

    margin: 5px 0;
}

.toggle {
    margin: 40px 0 10px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle-switch:focus {
  outline: 3px solid var(--red-500);
  outline-offset: 2px;
}

.btn-remove {
    border: 1px solid var(--card-border);
    border-radius: 20px;

    background: var(--bg-btn-remove);
    color: var(--text-color);

    padding: 8px 13px;

    cursor: pointer;
}

.btn-remove:hover {
  background-color: var(--bg-btn-remove-hover);
  color: var(--text-color-sub);
}

/* BUTTON TOGGLE */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Chỉnh input để nằm giữa */
.toggle-switch input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 16px;
  height: 16px;

  margin: 0;
  padding: 0;
  opacity: 0; /* ẩn đi nhưng vẫn click được */
  z-index: 2;
  cursor: pointer;

  display: block;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: var(--bg-btn-toggle);
  border-radius: 34px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.1s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.1s;
  border-radius: 50%;
}

/* Khi checkbox được check */
.toggle-switch input:checked + .slider {
  background-color: var(--bg-btn-toggle-checked);
}

.toggle-switch input:checked + .slider::before {
  transform: translateX(15px);
}


/* Responsive  */
@media (max-width: 938px) {

  body {
    width: fit-content;
    height: fit-content;

    display: flex;
    flex-direction: column;

    padding: 0 15px 15px 15px;
  }

  .card-extension {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1px;
  }

  .btn-group {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .btn-group h1 {
    margin: 0;
  }


  .card {
    margin-top: 32px;
  }
}

button[data-is-select="true"]{
  background-color: var(--bg-button-selected);
  color: var(--color-button-selected);
}