/* color */
:where(html) {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0:   hsl(200, 60%, 99%);

  /* Red Colors */
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
}

:root {
    --bg-main: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --card-bg: var(--neutral-0);
    --card-border: var(--neutral-200);
    --text-color: #111111;
    --text-color-sub: var(--neutral-100);
    --navbar-bg: var(--neutral-0);
    --bg-btn-status: var(--neutral-0);
    --bg-btn-remove: var(--neutral-0);
    --bg-btn-toggle: var(--neutral-600);
    --bg-btn-toggle-checked: var(--red-700);
    --bg-btn-remove-hover: var(--red-700);
    --bg-btn-hover: var(--neutral-100);
    --bg-btn-theme-hover: var(--neutral-300);
    --bg-button-selected: var(--red-700);
    --color-button-selected: #ffffff;
}

[data-theme="dark"] {
    --bg-main: linear-gradient(180deg, #040918 0%, #091540 100%);
    --card-bg: var(--neutral-700);
    --card-border: var(--neutral-600);
    --text-color: #ffffff;
    --text-color-sub: var(--neutral-200);
    --navbar-bg: var(--neutral-700);
    --bg-btn-status: var(--neutral-700);
    --bg-btn-remove: var(--neutral-800);
    --bg-btn-toggle: var(--neutral-600);
    --bg-btn-toggle-checked: var(--red-400); 
    --bg-btn-remove-hover: var(--red-500);
    --bg-btn-hover: var(--neutral-600);
    --bg-btn-theme-hover: var(--neutral-600);
    --bg-button-selected: var(--red-500);
    --color-button-selected: #111111;
}